<form action="/recipes" method="post">
  Recipe name: <input type="text" name="recipe[name]"><br>
  Recipe ingredients: <input type="text" name="recipe[ingredients]"><br>
  Recipe cooking time: <input type="text" name="recipe[cooktime]"><br>
  <input type="submit" value="Submit">
</form>
