<h1>Create a Recipe</h1>

<form action="/recipes" method="post">
  Name: <input id="name" type="text" name="rec[name]" >
  Ingredients <input id="ingredients" type="text" name="rec[ingredients]" >
  Cook Time: <input id="cook_time" type="text" name="rec[cook_time]" >
  <input type="submit" id="submit">

</form>