<form method="post" action="/recipes">
  <p><input type="text" placeholder="Name of Recipe" name="recipe[name]" /></p>
  <p><input type="text" placeholder="Ingredients" name="recipe[ingredients]" /></p>
  <p><input type="text" placeholder="Cook Time Here" name="recipe[cook_time]" /></p>
  <input type="submit">
</form>
