<h1>Add a new recipe</h1>
<form action="/recipes" method="post">
  <input id="name" type="text" name="recipe[name]" placeholder="name">
  <input id="ingredients" type="text" name="recipe[ingredients]" placeholder="ingredients">
  <input id="cook_time" type="text" name="recipe[cook_time]" placeholder="cook time">
  <input type="submit" id="submit" name="Add Recipe">
</form>
