<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @recipes.each{|recipe| %>
      <%= recipe.name %>
    <a href="/recipes/<%= recipe.id %>" </a>
      <% } %>
  </body>
</html>
